@model Web.Models.ImportViewModel

@{
    ViewBag.Title = "Index";
}

<div class="import">
    <h3>Imports Management</h3>
    <hr />
    
    <h4 id="uploadSucess" class="text-success">@ViewBag.UploadSuccess</h4>

    @using (Html.BeginForm("Upload", "Import", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-5">
                <h3>New Import</h3>
                <div class="form-group">
                    <label class="import-element" for="import-type">Choose import type</label>
                    <select class="form-control" id="import-type" name="type">
                        <option>Daily</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Yearly</option>
                    </select>
                    <label class="import-element" for="browse">Browse A File From You Computer</label>
                    <input class="form-control" type="file" id="dataFile" name="upload" />
                    <div class="import-error-message import-element">
                        @Html.ValidationSummary(true)
                    </div>

                    <div>
                        <input class="form-control btn btn-default" type="submit" value="Upload" id="Upload-button" />
                        <div id="processing-bar" hidden>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                    <span id="status">Processing...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h3 class="list-title">List of Previous Imports</h3>

                @if (Model.Imports.Count == 0)
                {
                    <p>There are not imports yet!</p>
                }
                else
                {
                    <table id="import-table" class="table dt-responsive wrap" cellspacing="3">
                        <thead>
                            <tr>
                                <th class="no-order">Date</th>
                                <th class="no-order">Uploader</th>
                                <th class="no-order">Import Type</th>
                                <th class="no-order">File Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var import in Model.Imports)
                            {
                                <tr>
                                    <td>@import.Date_Uploaded.ToString()</td>
                                    <td>@import.UserName</td>
                                    <td>@import.Type</td>
                                    <td>@import.FileName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    }
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="import-file-modal" tabindex="-1">
    <div class="modal-header">
        <h1 style="text-align:center" id="processing-label">Processing...</h1>
    </div>
    <div class="modal-body">
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                <span id="status"></span>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var import_Table = $('#import-table').DataTable({
                paging: true,
                "columnDefs": [{ "orderable": false, "targets": ['no-order'] }]
            });
        });
    </script>
    <script>
        $('#Upload-button').on('click', function () {
            if (document.getElementById("dataFile").value) {
                $('#processing-bar').show();
                $('.import-error-message .import-element').empty();
                $('#uploadSucess').empty();
            }
        });
    </script>
}

