@model Web.Models.RefillLineViewModel

<tr>
    @Html.HiddenFor(m => m.pId)
    <td id="td-is-selected">
        @Html.CheckBoxFor(m => m.IsSelected, 
        new { @class = "refill-line-checkbox" })
    </td>
    <td id="td-patient-name">
        @Html.DisplayFor(m => m.PatientName)
    </td>
    <td id="td-medecine-name">
        @Html.DisplayFor(m => m.MedecineName)
    </td>
    <td class="td-action">
        @Html.ActionLink("Edit patient", "EditPatient", "Home", 
        routeValues: new { id = Model.pId, returnUrl = "Index" }, 
        htmlAttributes: new { @class = "btn btn-default btn-sm" })
    </td>
</tr>