
@{
    ViewBag.Title = "Patients";
}

<div class="row">
    <div class="col-md-3">
        <h3>Patients</h3>
    </div>
    <div class="col-md-3 col-md-offset-6">
        <br/>
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
            <input type="text" class="form-control" placeholder="Search patient" id="textSearch" />
        </div>
    </div>
</div>
<hr />

<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<table id="patients-table" class="table dt-responsive wrap" cellspacing="3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Birth date</th>
            <th>Address</th>
            <th class="action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jennifer Chang</td>
            <td>Regional Director</td>
            <td>000-000-0000</td>
            <td>2011/06/02</td>
            <td>2501 East Memorial Road</td>
            <td>@Html.ActionLink("Edit patient info", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm" })</td>
        </tr>
        <tr>
            <td>Brenden Wagner</td>
            <td>Software Engineer</td>
            <td>000-000-0000</td>
            <td>2011/06/02</td>
            <td>2501 East Memorial Road</td>
            <td>@Html.ActionLink("Edit patient info", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm" })</td>
        </tr>
        <tr>
            <td>Fiona Green</td>
            <td>Chief Operating Officer (COO)</td>
            <td>000-000-0000</td>
            <td>2011/06/02</td>
            <td>2501 East Memorial Road</td>
            <td>@Html.ActionLink("Edit patient info", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm" })</td>
        </tr>
        <tr>
            <td>Shou Itou</td>
            <td>Regional Marketing</td>
            <td>000-000-0000</td>
            <td>2011/06/02</td>
            <td>2501 East Memorial Road</td>
            <td>@Html.ActionLink("Edit patient info", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm" })</td>
        </tr>
        <tr>
            <td>Michelle House</td>
            <td>Integration Specialist</td>
            <td>000-000-0000</td>
            <td>2011/06/02</td>
            <td>2501 East Memorial Road</td>
            <td>@Html.ActionLink("Edit patient info", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm" })</td>
        </tr>
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/ppok-refill-system.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            var oTable = $('#patients-table').DataTable({
                paging: false,
                "columnDefs": [{ "orderable": false, "targets": ['active', 'action'] }]
            });
            $('#textSearch').keyup(function ()
                {
                    oTable.search($(this).val()).draw();
                }
            );
        });
    </script>
}